.background{
    background:#1F2833;
    background-image: url(../img/background.jpg );
}

.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;	
}

p, h1{
  color: #C5C6C7
}

button{
  background-color: #0B0C10;
  color: #C5C6C7;
  border-color: #66FCF1;
}

button:hover{
  color: #fff;
  border-color: #2beaf8
}

a{
  color: #66FCF1;
}

a:hover{
  color:rgb(107, 99, 226)
}
.title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
}

.me{
    font-size: 20px;
    margin-right: 5%;
}





.box {
  transition: transform .2s;
    width: 55%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 6%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 3%;
    background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
  }

  .box:hover {

    transform: scale(1.1); 
    z-index: 1;
    
  }

.boxIndex {
    position: absolute;
    width: 55%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 4%;
    margin-right: 20%;
    margin-left: 22%;
    padding: 2%;
    background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
  }

.boxAuto{
        transition: transform .2s;
        width: 50%;
        height: auto;
        margin-bottom: 5%;
        margin-top: 6%;
        margin-right: 10%;
        margin-left: 22%;
        padding: 3%;
        background: #0B0C10;
      box-shadow: 0em 0em 1em #167279;
        border-radius:20px;
        border: 3px solid #2beaf8;
        z-index: -1;
}

.boxIdx{
  width: 50%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 6%;
  margin-right: 10%;
  margin-left: 22%;
  padding: 3%;
  background: #0B0C10;
box-shadow: 0em 0em 1em #167279;
  border-radius:20px;
  border: 3px solid #2beaf8;
  z-index: -1;
}

.boxAuto:hover {

  transform: scale(1.1); 
  z-index: 1;
  
}

.dateStage{
    font-size: 20px;
}

.textStage{
    font-size: 18px;
}



.reductImg{
    width: 50%;
}


.boxCertif{  
    width: auto;
    height: auto;
    margin-bottom: 5%;
    margin-top: 6%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 3%;
    background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
    transition: transform .2s;
}

.boxCertif:hover{
  transform: scale(1.1); 
  transform: rotate(-1deg);
  z-index: 1;
}

.titreVt{
    text-align: center;
    margin-top: 2%;

}

.descriptionVt{
    font-size: 20px;
    margin: 2% 15%;
    text-align: center;
}

.btnVeille{
    width: 30%;
    height: 30%;
    padding: 2%;
    margin-top: 2%;
    font-size: 20px;
    background: #0B0C10;
}

.fixImg{
  
    top: 50%;
    left: 25%;
    width: 18em;
    height: 18em;
}

.vrIcon{
    width: 100px;
    height: 100px;
}

.btnAP{
    padding: 2%;
}

.row1{
  display: flex;
  align-items: center;
}

.rowAP{
  display: flex;
  align-items: center;
  text-align: center;
}


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, tahoma;
    list-style: none;
    /*    outline: 1px solid brown;*/
  }
  
  /*   End global   */
  
  
  /*   Start navigation bar   */
  
  header {
    height: 80px;
    width: 100%;
    background-color: #0B0C10;
    border-bottom: 2px solid #000000;
    display: flex;
  }

  nav{
    margin-left: auto;
  }
  .name {
    padding: 25px;
    width: auto;
    float: left;
    color: white !important
  }
 
  .list-item {
    float:right; 
    margin-right: 25px;
    margin-top: 17px;
    margin-left: 7em;
  }

  .list-item li{
    float: left;
    margin: 13px 0em;
    
    font-size: 18px;
    border-radius: 3px;
    transition: all .4s ease-in-out;
  }
  .list-item li a {
    color: #66FCF1;
    padding : 6px 30px;
    
  }


  .list-item a.active{
    text-decoration:underline;
    color:rgb(107, 99, 226)
   }
  
  /*   End navigation bar   */
  
  
  
  
  
  /*   Start nav bar for small screens   */
  
  .menuTel{
    display: none;
  }
  .toggle {
    float: right;
    margin: 20px;
    color:#2beaf8;
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
  }

  #menu-demo2 ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .8s all .1s;
    -webkit-transition: .8s all .1s;
    transition: .8s all .1s;
    }
  
  /*   End nav bar for small screens   */
  
  /*   Start media query   */
  
  @media (max-width: 1309px) {

    .wrapper {
      display: grid;
      grid-template-columns: 100%;	
    }

    .row1{
      display: block;
      align-items: center;
    }

    .rowAP{
      display: block;
      align-items: center;
      text-align: center;
    }

    .btnVeille{
    width: 50%;
    height: 10%;
    padding: 2%;
    margin-top: 2%;
    font-size: 20px;
    background: #0B0C10;
}
    
.fixImg{
  opacity: 0;
  position: absolute;
  top: 20%;
  left: 35%;
  width: 8em;
  height: 8em;
}

.me{
  font-size: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
}

.boxIndex {
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 4%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 2%;
  background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
}

.boxAuto{
        
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 6%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 3%;
  background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
}

.boxAuto:hover {
  transform: scale(1.0); 
  z-index: 1;
}

.boxIdx{
        
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 6%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 3%;
  background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
}

.boxIdx:hover {
  transform: scale(1.0); 
  z-index: 1;
}


.box {
  width: 90%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 6%;
  margin-right: 5%;
  margin-left: 5%;
  padding: 3%;
  background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
}

.box:hover {
  transform: scale(1.0); 
  z-index: 1;
}


.boxCertif{
        
  width: 70%;
  height: auto;
  margin-bottom: 5%;
  margin-top: 6%;
  margin-right: 15%;
  margin-left: 15%;
  padding: 3%;
  background: #0B0C10;
    box-shadow: 0em 0em 1em #167279;
    border-radius:20px;
    border: 3px solid #2beaf8;
}

.boxCertif:hover {
  transform: scale(1.0); 
  z-index: 1;
}

    
    nav {
      height: 80px;
      width: 100em;
      background-color: #0B0C10;
      border-bottom: 2px solid #000000;
    }
    .icon {
      display: block;
      width: 100%;
      height: 80px;
      border-bottom: 1px solid #444;
    }
    .list-item {
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      top: -4px;
      background-color: #222;
      display: none;
    }
    .list-item li {
      text-align: center;
      display: block;
      border-bottom: 1px solid #333;
      float: none;
    }

    .menuTel{
      position: fixed;
      top: 1em;
      right: 2em;
      display: initial;
    }

    #menu-demo2, #menu-demo2 ul{
      padding:0;
      margin:0;
      list-style:none;
      text-align:center;
      
      }
      #menu-demo2 li{
      display:inline-block;
      position:relative;
      border-radius:8px 8px 0 0;
      }
      #menu-demo2 ul li{
      display:inherit;
      border-radius:0;
      }
      #menu-demo2 ul li:hover{
      border-radius:0;
      }
      #menu-demo2 ul li:last-child{
      border-radius:0 0 8px 8px;
      }
      #menu-demo2 ul{
      position:absolute;
      z-index: 1000;
      max-height:0;
      left: 0;
      right: 0;
      overflow:hidden;
      -moz-transition: .8s all .1s;
      -webkit-transition: .8s all .1s;
      transition: .8s all .1s;
      }
      #menu-demo2 li:hover ul{
      max-height:15em;
      }
      /* background des liens menus */
      #menu-demo2 li:first-child{
      background-color: #65537A;
      background-image:-webkit-linear-gradient(top, #65537A 0%, #2A2333 100%);
      background-image:linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
      }
      #menu-demo2 li:nth-child(2){
      background-color: #729EBF;
      background-image: -webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
      background-image:linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
      }
      #menu-demo2 li:nth-child(3){
      background-color: #F6AD1A;
      background-image:-webkit-linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
      background-image:linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
      }
      #menu-demo2 li:last-child{
      background-color: #181a14;
      background-image:-webkit-linear-gradient(top, #1F2833 0%, #1F2833 100%);
      background-image:linear-gradient(to bottom, #1F2833 0%, #1F2833 100%);
      }
      /* background des liens sous menus */
      #menu-demo2 li:first-child li{
      background:#2A2333;
      }
      #menu-demo2 li:nth-child(2) li{
      background:#333A40;
      }
      #menu-demo2 li:nth-child(3) li{
      background:#9F391A;
      }
      #menu-demo2 li:last-child li{
        background: #0B0C10;
      }
      /* background des liens menus et sous menus au survol */
      #menu-demo2 li:first-child:hover, #menu-demo2 li:first-child li:hover{
      background:#65537A;
      }
      #menu-demo2 li:nth-child(2):hover, #menu-demo2 li:nth-child(2) li:hover{
      background:#729EBF;
      }
      #menu-demo2 li:nth-child(3):hover, #menu-demo2 li:nth-child(3) li:hover{
      background:#F6AD1A;
      }
      #menu-demo2 li:last-child:hover, #menu-demo2 li:last-child li:hover{
        background-image:-webkit-linear-gradient(top, #1c232b 0%, #191f27 100%);
        background-image:linear-gradient(to bottom, #212831 0%, #161c22 100%);
        border-color: #2beaf8;
      }
      /* les a href */
      #menu-demo2 a{
      text-decoration:none;
      display:block;
      padding:8px 45px;
      color:#2beaf8;
      font-family:arial;
      }
      #menu-demo2 ul a{
        padding:8px 0px;
      }
      #menu-demo2 li:hover li a{
      color:#2beaf8;
      text-transform:inherit;
      }
      #menu-demo2 li:hover a, #menu-demo2 li li:hover a{
        color:#0eedfd;
      }

      #menu-demo2 li:hover a.active, a.active{
        text-decoration:underline;
        color:rgb(107, 99, 226)
       }
      
  }
  

.moi{
  position: fixed;
  top: 1.5em;
  left: 1em;
  font-size: 20px;
}

.lRapport{
  text-align: center;
}
.imgAP{
  width: 150px;
  margin-bottom: 2%;
}

