.background{
    background: repeat url(../img/cool-background2.png);
}


.title{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 6%;
}

.me{
    font-size: 20px;
    margin-left: 50%;
    margin-right: 5%;
}



.tele{
   margin-left: 50%;
    position: relative;
    font-size: 20px;
    color: #350842;
}

.box {
   
    width: 55%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 6%;
    margin-right: 20%;
    margin-left: 20%;
    padding: 3%;
    background: #b78adf;
    box-shadow: 0em 0em 1em rgb(75, 20, 102);
    border-radius:20px;
    border: 3px solid black;
  }

.boxIndex {
    position: fixed;
    width: 55%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 4%;
    margin-right: 20%;
    margin-left: 22%;
    padding: 2%;
    background: #b78adf;
    box-shadow: 0em 0em 1em rgb(75, 20, 102);
    border-radius:20px;
    border: 3px solid black;
  }

.boxAuto{
        
        width: 50%;
        height: auto;
        margin-bottom: 5%;
        margin-top: 6%;
        margin-right: 10%;
        margin-left: 32%;
        padding: 3%;
        background: #b78adf;
    box-shadow: 0em 0em 1em rgb(75, 20, 102);
        border-radius:20px;
        border: 3px solid black;
}

.dateStage{
    font-size: 20px;
}

.textStage{
    font-size: 18px;
}



.reductImg{
    width: 50%;
}

.boxCertif{
        
    width: auto;
    height: auto;
    margin-bottom: 5%;
    margin-top: 6%;
    margin-right: 25%;
    margin-left: 25%;
    padding: 3%;
    background: #b78adf;
    box-shadow: 0em 0em 1em rgb(75, 20, 102);
    border-radius:20px;
    border: 3px solid black;
}

.titreVt{
    text-align: center;
    margin-top: 2%;

}

.descriptionVt{
    font-size: 20px;
    margin: 2% 15%;
    text-align: center;
}

.btnVeille{
    width: 30%;
    height: 30%;
    padding: 2%;
    margin-top: 2%;
    font-size: 20px;
    background-color: #b78adf;
}

.fixImg{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 250px;
    height: 250px;
}

.vrIcon{
    width: 100px;
    height: 100px;
}

.btnAP{
    padding: 2%;
}


* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: arial, tahoma;
    list-style: none;
    /*    outline: 1px solid brown;*/
  }
  
  /*   End global   */
  
  
  
  header {
    background-color: #350842;
    height: 10px;
    position: fixed;
  }
  
  /*   Start navigation bar   */
  
  nav {
    height: 80px;
    width: 200%;
    background-color: #3c1555;
    border-bottom: 2px solid #000000
  }
  .name {
    padding: 25px;
    width: auto;
    float: left;
    color: white !important
  }
 
  .list-item {
    float: left;
    margin-right: 25px;
    margin-top: 17px;
    margin-left: 70px;
  }
  .list-item li{
    float: left;
    margin: 13px 60px;
    
    font-size: 18px;
    border-radius: 3px;
    transition: all .4s ease-in-out;
  }
  .list-item li a {
    color: #EEE;
    padding : 6px 30px;
    
  }


  .list-item a.active{
    text-decoration:underline;
    color:rgb(107, 99, 226)
   }
  
  /*   End navigation bar   */
  
  
  
  
  
  /*   Start nav bar for small screens   */
  
  .icon {
    display: none;
  }
  .toggle {
    float: right;
    margin: 20px;
    color: #EEE;
    font-size: 30px;
    border: 1px solid #EEE;
    padding: 0px 5px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /*   End nav bar for small screens   */
  
  /*   Start media query   */
  
  /* @media (max-width: 1309px) {
    .icon {
      display: block;
      width: 100%;
      height: 80px;
      background-color: #111;
      border-bottom: 1px solid #444;
    }
    .list-item {
      width: 100%;
      margin: 0;
      padding: 0;
      position: relative;
      top: -4px;
      background-color: #222;
      display: none;
    }
    .list-item li {
      text-align: center;
      display: block;
      border-bottom: 1px solid #333;
      float: none;
    }
  } */
  

.moi{
  position: fixed;
  top: 1.5em;
  left: 1em;
  font-size: 20px;
}

.lRapport{
  text-align: center;
  color: #350842;
}
.imgAP{
  width: 150px;
  margin-bottom: 2%;
}